<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>



<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/error.css">

<body class="loading">


    <h1><%= error.status %></h1>
    <h2> <%= message %> <b>:(</b></h2>
    <div class="gears">
        <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- <script src="js/main.js" type="text/javascript"></script> -->
    <script>
        $(function () {
            setTimeout(function () {
                $('body').removeClass('loading');
            }, 1000);
        });

    </script>
</body>













<!-- 
<body>
    <style>
        body {
            background-color:red;
        }
    </style>
    <center>
        <h1><%#= message %></h1>
        <h2><%#= error.status %></h2>
        <pre><%#= error.stack %></pre>
    
    </center>
   
</body> -->

</html>